
.crop{
  margin-top:25px;
  margin-bottom:25px;
  width:25%!
}
.crop img {
  width:200px;
  height:200px;
}
#background{
  max-width:1600px;
}

.title {
  font-size: 12pt;
  font-weight: 400;
  clear: left;
}
.paper{
  margin-bottom:20px;
  margin-top:10px;
  margin-left:20px;
}

.wip{
  margin:20px;
}
.section{
  margin-top:20px;
  margin-bottom:50px;
}

.about{
  font-size:12pt;
}
@media (min-width: 992px){
  #leftsidebar {
      position: fixed;
      top: 20px;
      bottom: 0;
  }
}
.subsection{
  margin-left:20px !important;
  margin-bottom:30px;
}

.about{
  margin-left:20px;
  margin-right:20px;
  font-size:12pt;
}
.info{
  margin-top:10px;
  font-size:12pt;
}

emph{
  font-weight:500;
  font-family: "Helvetica Neue", Helvetica, Arial, sans-serif;

}

h1{
  font-family: "Helvetica Neue", Helvetica, Arial, sans-serif;
  font-size:30px;
}