
.crop{
  margin-top:25px;
  margin-bottom:25px;
}
.crop img {
  width:175px;
  height:175px;
}
#background{
  max-width:1600px;
}

#homebtn{
  background-color:transparent !important;
  padding: 0 !important;
}
.title {
  font-size: 12pt;
  font-weight: 400;
  clear: left;
}
.paper{
  margin-bottom:20px;
  margin-top:10px;
  margin-left:20px;
}

.background{
  align-items: center!important;
  max-width:1600px;
}

#leftbar{
  padding:0;
}
#middlebar{
  padding-left:25px;
}

.row{
  margin:auto;
}
.wip{
  margin:20px;
}
.section{
  margin-top:20px;
  margin-bottom:50px;
}

.about{
  font-size:12pt;
}
@media (min-width: 992px){
  #leftsidebar {
      position: fixed;
      top: 20px;
      bottom: 0;
  }
}
.subsection{
  margin-left:20px !important;
  margin-bottom:30px;
}

.about{
  margin-left:20px;
  margin-right:20px;
  font-size:12pt;
}
.info{
  margin-top:20px;
  font-size:12pt;
  max-width:225px;
}

emph{
  font-weight:500;
  font-family: "Helvetica Neue", Helvetica, Arial, sans-serif;

}

h1{
  font-family: "Helvetica Neue", Helvetica, Arial, sans-serif;
  font-size:30px;
}

#cv{

  font-family: "Helvetica Neue", Helvetica, Arial, sans-serif;
}

h3{
  margin-bottom:20px;
  font-size:30px;
}
h4{
  font-weight:300;
  color: #666666;
}

.subinfo{
  margin-left:10px;
  margin-right:10px;
  margin-bottom:10px;
  margin-top:5px;
}

award{
  color: #ffa600e0;
}

#infos{
  max-width:225px;
  margin:auto;
}
